<!-- myapp/templates/login.html -->
{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
  <h2>Login</h2>
  <form method="POST">
    {{ form.hidden_tag() }}

    <div>
      {{ form.username.label }}<br>
      {{ form.username(size=20) }}
    </div>

    <div>
      {{ form.password.label }}<br>
      {{ form.password() }}
    </div>

    <div>
      {{ form.submit() }}
    </div>
  </form>

  <p>
    New here? <a href="{{ url_for('register') }}">Create an account</a>.
  </p>
{% endblock %}
