<!-- myapp/templates/login.html -->
{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block title %}Create Quiz{% endblock %}

{% block content %}
  <h2>Quiz Creator</h2>
  <form method="POST">
    {{ form.hidden_tag() }}
    <div>
      {{ form.title.label }}<br>
      {{ form.title(size=20) }}
    </div>

    <button type="button" onclick="addSubForm()">Add Lap</button>
    <hr/>

    {{ form.hidden_tag() }}

    <div id="subforms-container">
      {% for subform in form.questions %}
        {{ macros.render_question_form(subform, loop.index0) }}
      {% endfor %}
    </div>

    <div>
      {{ form.submit() }}
    </div>

    {{ macros.render_question_form(_template, '_') }}

    <!-- <script>
      let index = 0

      function addSubForm() {
        const container = document.getElementById("subforms-container");
        subform = macros.render_question_form(subform, container.childElementCount()); this should be in double braces if used

        container.appendChild(subform);
      }
    </script> -->

    <script>
      function addSubForm() {
        const template = document.getElementById("question-_-form");
        var subform = template.cloneNode(true);
        const container = document.getElementById("subforms-container");

        index = container.childElementCount;

        subform.id = `question-${index}-form`;
        subform.className = "subform";
        subform.setAttribute("data-index", index);

        container.appendChild(subform);
        return false
      }


    </script>

  </form>
{% endblock %}
