<!-- myapp/templates/login.html -->
{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block title %}Create Quiz{% endblock %}

{% block content %}
  <h2>Quiz Creator</h2>
  <form method="POST">
    {{ form.hidden_tag() }}
    <div>
      {{ form.title.label }}<br>
      {{ form.title(size=20) }}
    </div>

    <button type="button" onclick="addSubForm()">Add Lap</button>
    <hr/>

    {{ form.hidden_tag() }}

    <div id="subforms-container">
    </div>

    <div>
      {{ form.submit() }}
    </div>

    <script>
      function construct(index) {
        return {{ macros.render_question_form({{ subform }}, index) }}
      }
      function addSubForm() {
        //const container = document.getElementById("subforms-container");
        //subform = {{ macros.render_question_form(subform, container.childElementCount()) }};

        //container.appendChild(subform);


      }
    </script>

  </form>
{% endblock %}
