<!-- myapp/templates/login.html -->
{% extends "quizsnake.html" %}
{% import "macros.html" as macros %}

<!--{% block title %}Create Quiz{% endblock %}-->

{% block content %}
  <h2>Quiz Creator</h2>
  <form method="POST">
    {{ form.hidden_tag() }}
    <div>
      {{ form.title.label }}<br>
      {{ form.title(size=20) }}
    </div>

    <button type="button" onclick="addSubForm()">Add Question</button>
    <hr/>

    {{ form.hidden_tag() }}

    <div id="subforms-container">
      {% for subform in form.questions %}
        {{ macros.render_question_form(subform, loop.index0) }}
      {% endfor %}
    </div>

    <div>
      {{ form.submit() }}
    </div>

    {{ macros.render_question_form(_template, '_') }}

    <script>
      function addSubForm() {
        const template = document.getElementById("question-_-form");
        var subform = template.cloneNode(true);
        const container = document.getElementById("subforms-container");

        index = container.childElementCount;

        subform.id = `question-${index}-form`;
        subform.className = "subform";
        subform.setAttribute("data-index", index);

        replaceInputIndices(subform, "_", index);

        container.appendChild(subform);
        return false;
      }

      function removeSubForm(subform) {
        subform.remove();
        reIndex();
        return false;
      }

      function reIndex() {
        const container = document.getElementById("subforms-container");

        const children = container.children;

        for (let i = 0; i < children.length; i++) {
          const child = children[i];
          if (child.hasAttribute("data-index")) { // then it is a subform ie not button
            replaceInputIndices(child, child.getAttribute("data-index"), i);

            child.id = `question-${i}-form`;
            child.setAttribute("data-index", i);
          }
        }
      }

      function replaceInputIndices(subform, prevIndex, index) {
        const divs = subform.children;
        for (let i = 0; i < divs.length - 2; i++) {
          const children = divs[i].children;
          console.log(children)
          children[0].for = toString(children[0].for).replace(prevIndex, index);
          children[1].id = toString(children[1].id).id.replace(prevIndex, index);
        }

      }
    </script>

  </form>
{% endblock %}
